  * {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../font/QuattrocentoSans-Regular.ttf') format('woff');
  }

  body {
    background-color: #eeeeec;
    font-family: "Quattrocento Sans", "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
    color: #eee;
    letter-spacing: -0.1px;
  }

  #copyright {
    font-size: 14px;
    clear: both;
    text-align: center;
    margin: 0 auto 0;
    padding: 48px;
    height: auto;
    color: #555753;
    text-shadow: #fff 0px 1px 0;
  }

  #splash {
    position: relative;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 645px;
    height: 560px;
    border-radius: 7px 7px 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top,
      color-stop(0.13, rgb(50,50,50)), color-stop(0.57, rgb(27,27,27))
    );
    background-image: -moz-linear-gradient(center bottom,
      rgb(50,50,50) 13%, rgb(27,27,27) 57%
    );
    text-align: center;
  }

  #text {
    width: 300px;
    text-align: left;
    margin: 0 auto 0 auto;
    position: relative;
    top: 140px;
    left: 0px;
  }

  #graphic {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 123px;
    top: 80px;
    width: 400px;
    height: 300px;
    text-align: center;
  }

  #logo {
    width: 610px;
    height: 96px;
    background-image: url('../img/sparkleshare-logo.png');
    background-repeat: no-repeat;
    margin: 8px auto 8px
  }

  div.tile {
    width: 156px;
    height: 156px;
    display: block;
    float: left;
    text-align: right;
    vertical-align: bottom;
    background-color: #323232; 
    margin-left: 7px;
    margin-top: 7px;
    font-size: 12px;
  }


  div.wrapper {
  width: 660px;
    margin: 0 auto 0 auto;
    background-color: orange;
  }

  div.tile-big {
    width: 255px;
    height: 255px;
    display: block;
    float: left;
    padding: 32px;
    vertical-align: bottom;
    background-color: #323232; 
    margin: 7px 0 0 7px;
    font-size: 13px;
  }

  div.tile-big a {
    color: #888;
    text-decoration: none;
  }

  div.tile-big a:hover {
    text-decoration: underline;
  }

  .os {
    width: 145px;
    height: 150px;
    display: table-cell;
    vertical-align: bottom;
    color: #999;
    padding: 1px;  
  }

  .android {
    background-image: url('../img/android.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .windows {
    background-image: url('../img/windows.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .mac {
    background-image: url('../img/mac.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .linux {
    background-image: url('../img/linux.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .ios {
    background-image: url('../img/ios-inactive.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .flattr {
    background-image: url('../img/flattr.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .paypal {
    background-image: url('../img/paypal.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bitcoin {
    background-image: url('../img/bitcoin.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .twitter {
    background-image: url('../img/twitter.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  


  h1 {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: lighter;
    color: white;
  }

  p {
    margin: 8px 0 8px 0;
  }

  a {
    color: #fcaf3e;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  #links {
    margin-top: 35px;
    float: right;     
  }

  #links a {
    color: #555753;
    font-size: 16px;
    margin: -2px 0 0 0;
    text-shadow: #fff 0px 1px 0;
    padding: 6px 0 6px 0;
    width: 75px;
    display: block;
    float: left;
    text-align: center;  
  }

  #links a:hover {
    font-size: 16px;
    color: white;
    text-shadow: #429dff 0px 2px 8px, #ccc 0px 1px 0;
    text-decoration: none;
  }
  
  #links .page-active {
    font-weight: bold;
  }

  #links a:first-child {
    border-right: 1px solid #d3d7cf;
  }

  #links a:last-child {
    border-left: 1px solid #d3d7cf;
  }

  #hseparator {
    width: 1px;
    height: 30px;
    background-color: #d3d7cf;
    float: right;
    border-bottom: 1px solid #fff;
  }

  div.bottom-left-corner {
    border-radius: 0 0 0 7px;
  }

  div.bottom-right-corner {
    border-radius: 0 0 7px 0;
  }

  div.navigation-back {
    background-image: url('../img/go-back.png');
    background-repeat:no-repeat;
    background-position: 45% 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 200px;
    left: 0;
    border-radius: 0 6px 6px 0;
  }

  .navigation-back-disabled {
    opacity: 0.5;
    cursor: default;
  }

  .navigation-back-disabled:hover {
    opacity: 1;
  }

  div.navigation-back:hover {
    background-image: url('../img/go-back.png');
    background-color: #f57900;
    cursor: pointer;
  }

  div.navigation-forward {
    background-image: url('../img/go-forward.png');
    background-repeat:no-repeat;
    background-position: 55% 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 200px;
    left: 570px;
    border-radius: 6px 0 0 6px;
  }

  div.navigation-forward:hover {
    background-image: url('../img/go-forward.png');
    background-color: #f57900;
    cursor: pointer;
  }

  div.page {
    background-color: #f2f2f1;
    border-left: 1px #e9e9e9 solid;
    border-right: 1px #e9e9e9 solid;
    width: 555px;
    color: #222;
    text-align: left;
    padding: 45px;
    margin: 0 auto 0 auto;
  }
  
  div.page h1 a {
    color: red;
    font-size: 22px;
    color: #429dff;
    font-weight: bold;
  }
  
  div.page h2 {
    font-size: 12px;
    color: #555753;
    font-weight: lighter;
  }
  
  div.page h3 {
    font-size: 16px;
    color: #555753;
    font-weight: bold;
  }

  div.answer a {
    color: #429dff;
  }
  
  div.entry {
    margin-bottom: 40px;
  }

  span.section {
    color: #333;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 30px;
    display: block;
  }

  span.keyword {
    font-weight: bold;
  }

  #header {
    margin: 0 auto 0 auto;
    width: 645px;
    border-radius: 7px 7px 0 0;
    height: 7px;
    background-color: #2e3436;
    font-size: 16px;
    font-weight: bold;
  }

  #footer {
   margin: 0 auto 0 auto;
   width: 645px;
   border-radius: 0 0 7px 7px;
   height: 7px;
   background-color: #2e3436;
   font-size: 16px;
   font-weight: bold;
  }

  div.answer {
   display: none;
   margin-left: 30px;
   margin-bottom: 30px;
   padding-top: 5px;
  }

  a.question {
   display: block;
   color: #333;
   font-size: 16px;
   margin-left: 15px;
  }

  blockquote {
    margin: 30px 0px 30px 30px;
    font-size: 13px;
    color: #888;
  }
  
  div.enabled:hover {
    background-color: #f57900; 
    cursor: pointer;
  }

  div.enabled:hover .os {
    color: #fff;
  }

  blockquote.wallet {
    font-family: monospace;
    font-size: 18px;
  }
